<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background: linear-gradient(241.35deg, #27A2DB 11.14%, #061A24 92.33%);
            }
            whorwe {
                width: 308px;
                height: 45px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 46px;
                color: #FFFFFF;
            }
            #descriptiontext {
                width: auto;
                height: 83px;
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                color: #FFFFFF;
            }
            #profileimg {
                width: 131px;
                height: 131px;
                border: 3px solid #27A2DB;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            .navbar-dark .navbar-nav .show > .nav-link,
            .navbar-dark .navbar-nav .active > .nav-link,
            .navbar-dark .navbar-nav .nav-link.show,
            .navbar-dark .navbar-nav .nav-link.active {
                font-weight: bold;
            }
        </style>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="~/css/prototype_stylesheet.css">
        <link rel="stylesheet" type="text/css" href="~/css/prototype_background_stylesheet.css">
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="~/css/prototype_stylesheet.css">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <div class="container" style="margin-top:10vh">
            <div class="row justify-content-center"  style="max-width:65%;">
                <whorwe>Who are we?</whorwe>
            </div>
            <div class="row"  style="margin-top: 35px">
                <div class="col-sm">
                    <img class="img-fluid d-none d-sm-block" id="profileimg" src="~/src/img/Ellipse 8.png" />
                </div>
                <div class="col-xl">
                    <p id="descriptiontext">
                        Yu Wu: Master of Information technology student having strong forte in the internet application, project management, software management.
                    </p>
                </div>
            </div>
            <div class="row"  style="margin-top: 35px">
                <div class="col-xl">
                    <p id="descriptiontext">
                        Anzhela Matveenko: Master of Information Technology student having a strong suit in RPA Blue prism, UI, project management, working in a start-up. I believe in science and the greater good.
                    </p>
                </div>
                <div class="col-sm">
                    <img class="img-fluid d-none d-sm-block" id="profileimg" src="~/src/img/Ellipse 10.png" />
                </div>
            </div>
            <div class="row"  style="margin-top: 35px">
                <div class="col-sm">
                    <img class="img-fluid d-none d-sm-block" id="profileimg" src="~/src/img/Ellipse 9.png" />
                </div>
                <div class="col-xl">
                    <p id="descriptiontext">
                        Can Liang: Master of Data Science student proficient in .NET framework, Web Development, Database Management.
                    </p>
                </div>
            </div>
            <div class="row"  style="margin-top: 35px">
                <div class="col-xl">
                    <p id="descriptiontext">
                        Vaishnavi Bulbule: Master of Business Information System student with experience in Business Analysis, Salesforce developer, project management, Business Intelligence Reporting, Data warehousing, SAP. Working as a business administrator at a small scale company.
                    </p>
                </div>
                <div class="col-sm">
                    <img class="img-fluid d-none d-sm-block" id="profileimg" src="~/src/img/Ellipse 7.png" />
                </div>
            </div>
            <div class="row justify-content-end">
                <img src="~/src/img/hopme.png" />
            </div>
        </div>
    </body>
</html>