<!DOCTYPE html>
<head>

    <style>
        body {
            background: linear-gradient(241.35deg, #27A2DB 11.14%, #061A24 92.33%);
        }
    </style>




    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/prototype_stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/prototype_background_stylesheet.css">
    <style>
        .navbar-dark .navbar-nav .show > .nav-link,
        .navbar-dark .navbar-nav .active > .nav-link,
        .navbar-dark .navbar-nav .nav-link.show,
        .navbar-dark .navbar-nav .nav-link.active {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container" style="width:100%">
        <div class="row">
            <div class="col-sm">
                <kiwiprod-title style="position:absolute; padding-top: 5%; left:-30%">Kiwiprod</kiwiprod-title>
                <title-dots style="position:absolute; top:-25%">...</title-dots>
            </div>

            <div class="col-md">
                <a class="nav-button" id="home-btn" onclick="click_nav_btn(this)" style="position:relative; padding-left: 35%; top: 10%;">Home</a>
            </div>
            <div class="col-md">
                <a class="nav-button" id="how-btn" onclick="click_nav_btn(this)" style="position:relative; top: 10%;">How it works</a>
            </div>
            <div class="col-md">
                <a class="nav-button" id="advice-btn" onclick="click_nav_btn(this)" style="position:relative; top: 10%;">Get career advice</a>
            </div>
            <div class="col-md">
                <a class="nav-button" id="contact-btn" onclick="click_nav_btn(this)" style="position:relative; top: 10%;">News</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/prototype_functions.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/prototype_stylesheet.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</body>

<style>
    #y {
        position: absolute;
        width: 442px;
        height: 83px;
        left: 606px;
        top: 236px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 156%;
        color: #FFFFFF;
    }

    #7 {
        
        width: 442px;
        height: 83px;
        left: 500px;
        top: 236px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 156%;
        color: #FFFFFF;
    }
</style>

<style>
    #an {
        position: absolute;
        width: 409px;
        height: 144px;
        left: 461px;
        top: 362px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 156%;
        /* or 25px */
        color: #FFFFFF;
    }
</style>

<style>
    #v {
        position: absolute;
        width: 437px;
        height: 133px;
        left: 606px;
        top: 546px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 156%;
        /* or 31px */
        color: #FFFFFF;
    }
</style>

<style>
    #c {
        position: absolute;
        width: 431px;
        height: 165px;
        left: 461px;
        top: 753px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 156%;
        /* or 31px */
        color: #FFFFFF;
    }
</style>

<style>
    #w {
        position: absolute;
        width: 308px;
        height: 45px;
        left: 126px;
        top: 413px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        color: #FFFFFF;
    }
</style>

<style>
    #h {
        position: absolute;
        width: 394px;
        height: 155px;
        left: 1010px;
        top: 840px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 110px;
        line-height: 158.47%;
        /* or 174px */
        letter-spacing: -0.075em;
        color: #000000;
        text-shadow: 0px 5px 20px #24343C;
    }
</style>

<style>
   /* #7 {
        position: absolute;
        width: 131px;
        height: 131px;
        left: 7004px;
        top: 800px;
       
        border: 3px solid #27A2DB;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }*/
</style>

<style>
    #8 {
        position: absolute;
        width: 131px;
        height: 131px;
        left: 901px;
        top: 370px;
     
        border: 3px solid #27A2DB;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
</style>

<style>
    #9 {
        position: absolute;
        width: 131px;
        height: 131px;
        left: 900px;
        top: 740px;
       
        border: 3px solid #27A2DB;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
</style>

<style>
    #10 {
        position: absolute;
        width: 131px;
        height: 131px;
        left: 454px;
        top: 553px;
        
        border: 3px solid #27A2DB;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
</style>


    <img id="7" src="~/Images/Ellipse 7.png" />

<p id="y">
    Yu Wu: Master of Information technology student having strong forte in the internet application, project management, software management.

</p>


<p id="an">
    Anzhela Matveenko: Master of Information Technology student having a strong suit in RPA Blue prism, UI, project management, working in a start-up. I believe in science and the greater good.
</p>
<p id="c">
    Can Liang: Master of Data Science student proficient in .NET framework, Web Development, Database Management.
</p>
<p id="v">
    Vaishnavi Bulbule: Master of Business Information System student with experience in Business Analysis,  Salesforce developer, project management, Business Intelligence Reporting, Data warehousing, SAP. Working as a business administrator at a small scale company.
</p>

<p id="w">
    Who are we?
</p>

<p id="h">

    <img src="~/Images/hopMe.png" />
</p>

<p id="8">
    <img src="~/Images/Ellipse 8.png" />
</p>
<p id="9">
    <img src="~/Images/Ellipse 9.png" />
</p>
<p id="10">
<img src="~/Images/Ellipse 10.png" />
</p>
