@{
    ViewBag.Title = "Contact";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/prototype_stylesheet.css">
    <!-- import montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>hopeMe - KiwiProd</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/style.css">


    <link rel="stylesheet" type="text/css" href="~/css/prototype_stylesheet.css">
    <!-- import montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .navbar-dark .navbar-nav .show > .nav-link,
        .navbar-dark .navbar-nav .active > .nav-link,
        .navbar-dark .navbar-nav .nav-link.show,
        .navbar-dark .navbar-nav .nav-link.active {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container" style="margin-top: 20%">
        <div class="row">
            <div class="col-md">
                <contact-page-title>Have a question?</contact-page-title>
            </div>
            <div class="col-md">
                <div class="row">
                    <contact-page-info-text>Contact us at:</contact-page-info-text>
                </div>
                @*<div class="row">
                        <contact-page-info-text>Email:  kiwiprod@monash.com</contact-page-info-text>
                    </div>
                    <div class="row">
                        <contact-page-info-text>Phone: +61 (440) 440 440</contact-page-info-text>
                    </div>*@
                @*For iteration 2*@
                <div class="row">
                    <contact-page-info-text>Melbourne, Australia</contact-page-info-text>
                </div>
            </div>
            <div class="col-lg">
                <hopme style="position:absolute; z-index: 100;"><span style="color:#25a3dd">hop</span><span style="color:#b1babf">M</span><span style="color:#25a3dd">e</span></hopme>
                <img class="img-responsive" src="~/src/img/laptop-guy.png" style="position:absolute; top:-200px; z-index: -1; display: flex; align-items: flex-end; filter: drop-shadow(0px 4px 6px #274D5F); transform: matrix(1.00, 0.04, -0.04, 1.00, 0, 0);">
            </div>
        </div>
    </div>
</body>
</html>