@{
    ViewBag.Title = "howItWorks";
}
<html>
<head>
    <title class="kiwiprod-title">hopeMe - KiwiProd</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/howitwork.css">
    <!-- import montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .navbar-dark .navbar-nav .show > .nav-link,
        .navbar-dark .navbar-nav .active > .nav-link,
        .navbar-dark .navbar-nav .nav-link.show,
        .navbar-dark .navbar-nav .nav-link.active {
            font-weight: bold;
            color: #094A68;
        }
    </style>
</head>

<body style="background-color: #f4f4f4">
    <div class="container" style="width:100%; background-color: #f4f4f4">

        <div class="row" style="margin-top:15%">
            <div class="col-lg">
                <p style="text-align: center; font-size: 70px; font-weight: bold; color: #094A68; ">Here is how it works</p>
            </div>
        </div>

        <div class="row" style="width:100%">
            <div class="col-sm">
                <img src="~/src/img/skill_image.png" class="img-fluid" alt="Enter Personal Skill & Education Info:">
                <p style="text-align:center; font-family: Montserrat; font-weight: bold; font-size: 50px; color:#094A68">Step 1</p>
                <p style="text-align:center; font-family: Montserrat; font-size: 100%">Enter your skill, location, age, and education</p>
            </div>
            <div class="col-sm" style="margin: auto;">
                <img src="~/src/img/arrow-left-bl.png" class="img-fluid" alt="Next:">
            </div>
            <div class="col-sm">
                <img src="~/src/img/ml_image.png" class="img-fluid" alt="Machine Model Analysis:">
                <p style="text-align:center; font-family: Montserrat; font-weight: bold; font-size: 50px; color:#094A68">Step 2</p>
                <p style="text-align:center; font-family: Montserrat; font-size: 100%">Let our AI model work its magic and analyse your input</p>
            </div>
            <div class="col-sm" style="margin: auto;">
                <img src="~/src/img/arrow-left-bl.png" class="img-fluid" alt="Next:">
            </div>
            <div class="col-sm">
                <img src="~/src/img/result_image.png" class="img-fluid" alt="Get Your Results!:">
                <p style="text-align:center; font-family: Montserrat; font-weight: bold; font-size: 50px; color:#094A68">Step 3</p>
                <p style="text-align:center; font-family: Montserrat; font-size: 100%">Get the result of how you will most likely find a job in Melbourne.</p>
            </div>




        </div>
        <analysis-btn type="button" onclick="location.href='../Search/Analysis'">Get your Analysis!</analysis-btn>

    </div>
  


</body>
</html>
<style>
    #a {
        width: 249px;
        height: 61px;
        left: 593px;
        top: 641px;
    }


</style>