@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>

    <title>hopeMe - KiwiProd</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">


    <link rel="stylesheet" href="~/css/flaticon.css">

    <link rel="stylesheet" type="text/css" href="~/css/prototype_stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/prototype_background_stylesheet.css">
    <!-- import montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .navbar-dark .navbar-nav .show > .nav-link,
        .navbar-dark .navbar-nav .active > .nav-link,
        .navbar-dark .navbar-nav .nav-link.show,
        .navbar-dark .navbar-nav .nav-link.active {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container" >
        <div class="row">
            <div class="col-md">
                <br><hopme style="width: 447px; height: 140px"><span style="color:#25a3dd">hop</span><span style="color:#b1babf">M</span><span style="color:#25a3dd">e</span></hopme>
                <subtitle>combining social good and AI technologies</subtitle>
                <additional-info>We are here to help you find the job based on your skills and experiences. Insert your skills, education, location and age and our AI model “hopMe” will reccomend you the best employment solution and give you the most relevant advices to your personality.</additional-info>
                <!-- page transition should be handled by MVC managers -->
                <analysis-btn type="button" onclick="location.href='../Search/Analysis'">Start Analysis</analysis-btn>
            </div>
            <div class="col-md">
                <img src="~/src/img/frontpage_infographic.png" class="img-fluid" style="margin-top:15%; z-index: -199;" />
            </div>
        </div>
    </div>
</body>

</html>