

<h2>news</h2>

<head>
    <title>hopeMe - KiwiProd</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/style.css">


    <link rel="stylesheet" type="text/css" href="~/css/prototype_stylesheet.css">
    <!-- import montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

   dffuhhoh

    <div class="news" style="margin-top: 30px; margin-bottom: 20px">
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $.get('https://newsapi.org/v2/everything?q=employment&sources=abc-news-au&apiKey=e73554860efb418b9f3d6430ceaa5785', function (res) {
                if (res.articles.length > 0) {
                    var s = "";
                    s += "<div class='container'>";
                    s += " <div class='row'>";
                    if (res.articles.length >= 12) {
                        for (var i = 0; i < 12; i++) {
                            s += " <div class='col-4'>"
                            s += "<a href=" + res.articles[i].url + "target = '_blank'>"
                            s += "<img alt='' src=" + res.articles[i].urlToImage + "style='width:260px'>"
                            s += "</a>"
                            s += "<br>"
                            s += "<br>"
                            s += "<a href=" + res.articles[i].url + "target = '_blank'>"
                            s += "<h5>" + res.articles[i].title + "</h5>"
                            s += "</a>"
                            s += "</div>"
                        }
                    }
                    else {
                        for (var i = 0; i < res.articles.length; i++) {
                            s += " <div class='col-4'>"
                            s += "<a href=" + res.articles[i].url + "target= '_blank'>"
                            s += "<img alt='' src=" + res.articles[i].urlToImage + "style= 'width:260px'>"
                            s += "</a>"
                            s += "<br>"
                            s += "<br>"
                            s += "<h5>" + res.articles[i].title + "</h5>"
                            s += "</div>"
                        }
                    }
                    s += "</div>"
                    s += "</div>"
                    $('.news').html(s);
                }
                else {
                    $('.news').html("<h1 style='text-align:center'> no articles about refugee</h1>")
                }
            })
        });
    </script>

