<!DOCTYPE html>
<html>
<head>
    <!-- import montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/prototype_stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/prototype_background_stylesheet.css">
    <!--<rssapp-carousel class="center-block" id="4jDdS8XjIL3AQRM8"></rssapp-carousel>
    <script src="https://widget.rss.app/v1/carousel.js" type="text/javascript" async></script>-->
    <style>
        .navbar-dark .navbar-nav .show > .nav-link,
        .navbar-dark .navbar-nav .active > .nav-link,
        .navbar-dark .navbar-nav .nav-link.show,
        .navbar-dark .navbar-nav .nav-link.active {
            font-weight: bold;
        }

        #a {
            position: absolute;
            width: auto;
            height: 15vh;
            right: 0%;
            bottom: 15vh;
            z-index: -1;
        }

        #b {
            position: absolute;
            width: auto;
            height: 15vh;
            left: 0.5%;
            top: 10%;
            z-index: -1;
        }
    </style>
</head>
<body>
    <p id="a">
        <img class="img-responsive" src="~/src/img/287f32dab9cc416c4332e4a0951ba7b.png" />
    </p>
    <p id="b">
        <img class="img-responsive" src="~/src/img/892b8d6d6f7d23c10cd7c43878ba627.png" />
    </p>
    <div class="container-fluid" style="height: 100%; width:100%">

        <div>
            <div class="col-lg" style="max-width: 100%; margin-top: 10vh">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <rssapp-carousel id="Vcg6ePqGjdxq6VMn"></rssapp-carousel>
                    <script src="https://widget.rss.app/v1/carousel.js" type="text/javascript" async></script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>