<!DOCTYPE html>
<html lang="en">


<head>
    <link rel="stylesheet" type="text/css" href="~/css/prototype_stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/prototype_background_stylesheet.css">
    <!-- import montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container" style="width:100vw">
            <div class="row">
                <div class="col-sm">
                    <div class="navbar-header" style="color: #094A68">
                        <kiwiprod-title style="position: relative">Kiwiprod</kiwiprod-title>
                        <title-dots style="position: relative; left: -35px; top:10px">...</title-dots>
                    </div>
                </div>
                <div class="col-lg">
                        <ul class="navbar-nav ml-auto" style="font-size: 1.5vh">
                            <li class="nav-item active"><a href="~/Home/Index" class="nav-link">Home</a></li>
                            <li class="nav-item active"><a href="~/Home/HowItWork" class="nav-link">How it works</a></li>
                            <li class="nav-item active"><a href="~/Search/Analysis" class="nav-link">Get career advice</a></li>
                            <li class="nav-item active"><a href="~/Home/news2" class="nav-link">News</a></li>
                            <li class="nav-item active"><a href="~/Home/Contact" class="nav-link">Contact us</a></li>
                            <li class="nav-item active"><a href="~/Home/about" class="nav-link">About us</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="../js/prototype_functions.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
